body{
  background: url("https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png?v1.26-235");
  background-size: cover;
  /*height: 100vh;*/
  color: white;
  font-family: 'Titillium Web', sans-serif;

}
.logo{
  font-family: 'Kaushan Script', cursive;
  color: white;font-size: 50px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: -0.9em;
}
/*p{
  padding: 50px;
}*/
.board{
  padding: 2em;
}
.credit{
  margin-left:100px;
}
.money-section{
  padding: 1em;
  display:inline-block;
}
.game-buttons, .start-section{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
#hit, #stand, #new-hand{
  box-shadow: 5px 5px 5px rgba(0, 0, 5, .6);
}
#start{
  color: white;
  background: grey;
  padding: 0.5em;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 5, .6);
}
.init-end-controls{
  display:flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 1em;
}
#bet-section{
  align-content: right;
}
#dealer-cards, #player-cards{
  display:flex;
  align-content: flex-end;
  justify-content: left;
  padding: 0.5em;
  margin-left: 40px;
}
.newCardsD, .newCardsP{
  padding: 0.4em;
  display:flex;
  align-content: flex-end;
  justify-content: space-around;
  text-align: center;
  font: 30px/50px Georgia, Times New Roman, serif;
  float: left;
  color: black;
  background: #00a651;
  margin-right: 10px;
  width: 130px;
  height: 200px;
  border-radius: 10px;
  background: #ebe9dc;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.6);
}
