body{
  background: url("https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png?v1.26-235");
  background-size: cover;
  /*height: 100vh;*/
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
p{
  padding: 50px;
}
.board{
  padding: 4em;
}
.credit{
  margin-left:100px;
}
.money-section{
  padding: 4em;
  display:inline-block;
}
.game-buttons, .start-section{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
#start{
  color: white;
  background: grey;
  padding: 0.5em;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 5, .6);
}
.init-end-controls{
  display:flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 1em;
}
.bet-section{
  align-content: right;
}
