body{
  background: url("https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png?v1.26-235");
  background-size: cover;
  /*height: 100vh;*/
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
.board{
  padding: 4em;
}
.money-section{
  padding: 4em;
}
button{
  color: white;
    background-color: grey;
    border: 1px solid grey;
    padding: 0.7em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,5, .6);
    font-size: 14px;
  /*font-size: 14px;*/
  /*border: 1px black solid;*/
  /*padding: 0.5em;*/
  /*display:flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
     align-items: center;
  /*flex-wrap: wrap-reverse;*/
}
